.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  transition: 0.3s;
  text-decoration: none;
}
.navigation-links-navlink:hover {
  color: #00f744;
}
.navigation-links-link {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-link:hover {
  color: #00f744;
}











@media(max-width: 1200px) {
  .navigation-links-nav {
    font-size: 20px;
    text-align: center;
  }
  .navigation-links-navlink {
    width: auto;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
  }
  .navigation-links-link {
    width: auto;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
  }
  .navigation-links-root-class-name8 {
    top: -12px;
    right: -1037px;
    position: absolute;
  }
  .navigation-links-root-class-name17 {
    top: -12px;
    right: -1037px;
    position: absolute;
  }
}
@media(max-width: 991px) {
  .navigation-links-root-class-name8 {
    top: -9px;
    right: -819px;
  }
  .navigation-links-root-class-name17 {
    top: -9px;
    right: -819px;
  }
}
@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.navbar-container {
  width: 100%;
  height: 80px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-header {
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 1000;
  max-width: auto;
  min-width: auto;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-image: radial-gradient(circle at right top, rgb(255, 0, 0) 1.00%,rgb(0, 128, 222) 100.00%);
}
.navbar-navlink {
  display: contents;
}
.navbar-image {
  width: 60px;
  height: 60px;
  transition: 0.3s;
  text-decoration: none;
}
.navbar-image:hover {
  width: 65px;
  height: 65px;
}
.navbar-navlink1 {
  display: contents;
}
.navbar-text {
  transition: 0.3s;
  text-transform: uppercase;
  text-decoration: none;
}
.navbar-text:hover {
  color: var(--dl-color-danger-500);
  transition-duration: 1s;
}
.navbar-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navbar-burger-menu {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: none;
}
.navbar-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.navbar-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-image1 {
  height: 2rem;
}
.navbar-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.navbar-icon4 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.navbar-icon6 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}



.navbar-root-class-name3 {
  background-image: linear-gradient(to right, #bdc3c7 0%, #2c3e50 100%);
}
@media(max-width: 1600px) {
  .navbar-header {
    width: 1600px;
    position: relative;
    align-self: center;
    margin-right: 0px;
    background-image: linear-gradient(90deg, rgb(0, 122, 255) 1.00%,rgb(222, 0, 0) 100.00%);
  }
  .navbar-text {
    top: 19px;
    left: 104px;
    position: absolute;
    padding-left: var(--dl-space-space-unit);
    text-transform: uppercase;
  }
}
@media(max-width: 1200px) {
  .navbar-header {
    color: var(--dl-color-gray-black);
    width: 100%;
    height: 76px;
    text-align: left;
    padding-left: var(--dl-space-space-threeunits);
    justify-content: flex-start;
    background-image: linear-gradient(90deg, rgb(0, 122, 255) 1.00%,rgb(222, 0, 0) 100.00%);
  }
  .navbar-image {
    width: 70;
    height: 70;
  }
  .navbar-text {
    color: #000000;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .navbar-nav {
    position: relative;
  }
}
@media(max-width: 991px) {
  .navbar-header {
    width: 100%;
  }
  .navbar-text {
    color: #000000;
    padding-left: var(--dl-space-space-unit);
  }
}
@media(max-width: 767px) {
  .navbar-header {
    width: 100%;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    background-image: linear-gradient(90deg, rgb(0, 122, 255) 1.00%,rgb(222, 0, 0) 100.00%);
  }
  .navbar-text {
    padding-left: var(--dl-space-space-unit);
  }
  .navbar-nav {
    display: none;
  }
  .navbar-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .navbar-header {
    width: 100%;
    padding: var(--dl-space-space-unit);
    position: relative;
    background-image: linear-gradient(90deg, rgb(0, 122, 255) 1.00%,rgb(222, 0, 0) 100.00%);
  }
  .navbar-text {
    color: #000000;
    padding-left: var(--dl-space-space-unit);
  }
  .navbar-mobile-menu {
    padding: 16px;
  }
  .navbar-root-class-name1 {
    align-self: center;
  }
}

.page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.page-container1 {
  width: 100%;
  height: 740px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.page-text {
  color: #ffffff;
  font-size: 50px;
  font-family: "Impact";
  font-weight: 500;
}
.page-text1 {
  color: #ffffff;
  font-size: 300px;
  transition: 0.3s;
  font-family: "Impact";
  font-weight: 900;
}
.page-text1:hover {
  color: var(--dl-color-danger-500);
  font-size: 280px;
  transition-duration: 0.5s;
}
.page-text2 {
  color: #ffffff;
  font-size: 45px;
  font-family: "Impact";
  font-weight: 500;
}
.page-footer {
  width: 100%;
  height: 336px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(0deg, rgb(0, 128, 222) 0.00%,rgb(0, 0, 0) 51.00%,rgb(0, 0, 0) 45.00%,rgb(0, 0, 0) 61.00%);
}
.page-link {
  color: rgb(0, 128, 222);
  font-size: 22px;
  font-family: "Impact";
  text-decoration: none;
}
.page-link1 {
  display: contents;
}
.page-image {
  width: 1000px;
  object-fit: cover;
  transition: 0.3s;
  text-decoration: none;
}
.page-image:hover {
  width: 1050px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  transition-duration: 1s;
}
.page-text3 {
  font-size: 20px;
  font-family: "Impact";
  padding-top: var(--dl-space-space-unit);
}
.page-navlink {
  color: #ffffff;
  width: var(--dl-size-size-medium);
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
  text-decoration: none;
  background-color: #0c0b0b;
}
.page-navlink:hover {
  width: var(--dl-size-size-large);
  text-align: center;
  transition-duration: 1s;
}
.page-navlink1 {
  color: rgb(255, 255, 255);
  width: var(--dl-size-size-medium);
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
  text-decoration: none;
  background-color: #0e0d0d;
}
.page-navlink1:hover {
  width: var(--dl-size-size-large);
  text-align: center;
  transition-duration: 1s;
}
@media(max-width: 991px) {
  .page-text2 {
    font-size: 40px;
  }
}
@media(max-width: 767px) {
  .page-text {
    font-size: 40px;
  }
  .page-text2 {
    font-size: 30px;
  }
  .page-link {
    text-align: center;
  }
  .page-image {
    width: 100%;
    height: 121px;
  }
}
@media(max-width: 479px) {
  .page-text {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .page-text1 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .page-text2 {
    align-self: center;
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .page-image {
    width: 100%;
    height: 69px;
  }
  .page-text3 {
    color: #5a5a5a;
  }
}
